body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url('img/anton-darius-ebHCU8n7G38-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.navbar {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: none;
    text-align: center;
}


img {
    width: auto 100%
}

main {
    margin-bottom: 200px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}



.navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: none;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: none;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: none;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

.image3 a {
    display: grid;
}

.image3 {
    position: relative;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.image3 {
    text-align: center;
    padding: 10px 20px;
    grid-gap: 2%;
    margin-top: 30%;
    display: grid;

}

#sky1 {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

#sky2 {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

#sky3 {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.imgs {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image3 a > * {
    grid-column: 1/-1;
    grid-row: 1/-1;
    justify-self: center;
    align-self: center;
}

.img-des {
    position: relative;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-des {
    text-align: center;
    padding: 10px 20px;
    grid-gap: 2%;
    margin-top: 12%;


}
p {
    justify-self: center;
    align-self: center;
}
footer {
    position: static;
    left: 0;
    bottom: 0%;
    width: 100%;
    background-color: white;
    color: white;
    text-align: left;

}

.icons {
    padding: 20px;
    margin: 0px;
}

.logo {
    max-width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 10px;
}
